@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.header {
  @apply bg-white h-14 flex items-center justify-between px-5
}

.drawer {
  @apply transition-all duration-200 fixed top-0 bottom-0 left-0 w-screen flex
}

.btn {
  @apply px-3 py-2 rounded-lg font-medium cursor-pointer
}

.transisi {
  @apply transition-all duration-300
}

a.active {
  @apply bg-primary text-white
}

.mobile-nav {
  @apply flex items-center gap-3 p-3 md:p-2 text-primary rounded-lg hover:bg-primary hover:text-white font-medium md:text-gray-500
}

.footer-card {
  @apply flex gap-1 text-gray-400 items-center
}

.search-icon-mobile {
  @apply text-gray-400 rounded-full p-2
}

h1 {
  @apply text-5xl font-bold
}
h2 {
  @apply text-4xl font-bold
}
h3 {
  @apply text-3xl font-bold
}
h4 {
  @apply text-2xl font-bold
}
h5 {
  @apply text-xl font-bold
}
h6 {
  @apply text-lg font-bold
}

.rdw-option-wrapper {
  background-color: black;
}

.input-text {
  @apply outline-none border-[1px] px-2 py-2 rounded-lg text-sm;
}
.btn-category {
  @apply bg-gray-300 hover:bg-primary px-4 py-2 rounded-full font-medium text-white
}